<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>/* 导航栏动画 */
#navbar {
    transition: all 0.3s;
    font-size: 1rem;
  }
  
  .navbar .nav-item .nav-link {
      display: block;
      color: var(--navbar-text-color);
      transition: color 0.3s, background-color 0.3s;
  }
  
  .navbar .nav-item .nav-link i {
      font-size: 1rem;
  }